body {
  font-family: "Poppins";
}

.btn-primary {
  background: #070eda;
  border: 0;
  padding: 15px 50px 15px 50px;
  font-size: 18px;
  font-weight: bold;
}

.btn-primary:hover {
  background: #191ea1;
  border: 0;
}

.btn-secondary {
  background: none;
  border: 0;
  border-width: 1px;
  border-color: #050866;
  border: 1px solid;
  /* padding: 9px 40px 9px 40px; */
  color: #050866;

  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 40px;
}

.btn-secondary:hover {
  background: #050866;
}
.hero-frz h1 {
  font-family: "Poppins";
  font-weight: 700;
  color: #050866;
}

.hero-frz p {
  font-family: "Poppins";
  color: #050866;
}

.navbar-nav {
  margin-left: auto;
  font-size: 18px;
}

.navbar-nav .nav-link {
  color: #050866;
  font-weight: bold;
}

.popu-games {
  font-family: "Poppins";
  font-weight: 700;
  color: #050866;
}

.popu-games h2 {
  font-family: "Poppins";
  font-weight: 700;
  color: #050866;
  margin-top: 50px;
}

.game-card p {
  font-size: 20px;
}

.anjing {
  float: right;
  margin-right: 30px;
  font-size: 18px;
}
